<section class="about" id="about">
  <div class="about__inner">
    <div class="about__intro">
      <h2 class="about__title">{{ translation.t().aboutTitle }}</h2>
      <p class="about__subtitle">{{ translation.t().aboutSubtitle }}</p>
      <ul class="about__facts">
        <li class="about__fact">
          <img src="img/icons/location.svg" alt="" />
          <span>{{ translation.t().aboutFactLocation }}</span>
        </li>
        <li class="about__fact">
          <img src="img/icons/remote.svg" alt="" />
          <span>{{ translation.t().aboutFactRemote }}</span>
        </li>
      </ul>
    </div>
    <div class="about__text">
      <p>
        {{ translation.t().aboutBio1 }}
      </p>
      <p>
        {{ translation.t().aboutBio2 }}
      </p>
      <app-button href="#contact" size="large">{{ translation.t().aboutCta }}</app-button>
    </div>
  </div>
</section>
