@use '../../../scss/abstracts' as *;

.footer {
  background: $gradient-blue;

  &__inner {
    @include container;
    @include flex($justify: space-between);
    padding-block: space('xl');

    @include respond(mobile) {
    flex-direction: column;
    align-items: center;
    gap: space('m');
  }
  }

  &__center {
    @include flex-column($align: center, $gap: space('xs'));

    @include respond(mobile) {
    display: contents;
    }
  }

  &__logo-img {
  display: block;
  height: 50px;
  color: $color-bg;   
}

  &__copyright {
    @include font-size(rem(16px));
    color: $color-bg;
    margin: 0;
  }
  &__legal {
    @include font-size(rem(14px));
    color: $color-bg;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

     @include respond(mobile) {
    order: 1;
     }
  }

  &__socials {
    @include list-reset;
    @include flex($gap: space('s'));
  }
  &__social {
    display: block;
    @include hover-lift;
  }
  &__social-icon {
    width: rem(30px);
    height: auto;
    display: block;
    filter: brightness(0) invert(1);   
  }
}
