@use '../../../scss/abstracts' as *;

.scroll-top {
  position: absolute;
  bottom: space('xl');
  left: space('xl');
  z-index: 100;
  @include flex($justify: center);
  width: rem(40px);
  height: rem(40px);
  border: none;
  border-radius: 50%;
  background: $color-blue;
  cursor: pointer;

  &__icon {
    width: rem(16px);
    height: auto;
  }

  &:hover {
    background: $color-blue-dark;
  }
}
