<header class="header">
  <div class="header__logo">
    <img src="img/logo.svg" alt="Logo" class="header__logo-img"/>
  </div>

  <nav class="header__nav">
    <ul class="header__menu">
      <li><a href="#about">{{ translation.t().about }}</a></li>
      <li><a href="#skills">{{ translation.t().skills }}</a></li>
      <li><a href="#work">{{ translation.t().work }}</a></li>
    </ul>

    <div class="header__lang">
      <button (click)="translation.setLang('DE')" [class.active]="translation.activeLang() === 'DE'">DE</button>
      <span>/</span>
      <button (click)="translation.setLang('EN')" [class.active]="translation.activeLang() === 'EN'">EN</button>
      <span>/</span>
      <button (click)="translation.setLang('ESP')" [class.active]="translation.activeLang() === 'ESP'">ESP</button>
    </div>
  </nav>
</header>
