@use '../../../scss/abstracts' as *;

.hero {
  background: linear-gradient(115deg, $color-bg 55%, $color-bg-shade 100%);
  isolation: isolate;
  

  &__inner {
    @include container;
    @include flex($gap: space('xxl'));
    min-height: calc(100dvh - 80px);
    position: relative;
  }

  &__visual {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      @include decorative-circle(1000px);
      top: -500px;
      left: -420px;
      z-index: -1;
    }
  }

  &__photo {
    display: block;
    width: 600px;
    position: relative;
    bottom: -10px;
  }

  &__content {
    @include flex-column($gap: space('xs'));
    position: relative;
    bottom: 100px;
  }

  &__greeting {
    margin: 0;
    @include font-size(rem(70px), rem(48px), rem(32px));
    font-weight: 400;
    color: $color-blue;
  }

  &__title {
    @include font-size(rem(140px), rem(96px), rem(56px));
    margin: 0;
    font-family: $font-family-heading;
    font-weight: 800;
    line-height: 1.05;
    color: $color-blue;
    text-transform: uppercase;

    &-line {
      display: block;

      &--bottom {
        @include font-size(rem(130px), rem(88px), rem(52px));
      }
    }
  }

  &__scroll {
    @include flex-column(center, 12px);
    position: absolute;
    bottom: 0;
    left: 75%;
    transform: translateX(-50%);
    &::after {
      content: '';
      width: 2px;
      height: 250px;
      background: $color-nav;
    }

    &-label {
      font-size: rem(16px);
      font-weight: 500;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-nav;
    }
  }

  &__socials {
    @include list-reset;
    @include flex-column($gap: space('m'));
    position: absolute;
    right: space('l');
    bottom: space('l');

    img {
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}
