<section class="hero" id="hero">
    <div class="hero__inner">
  <div class="hero__visual">
    <img src="img/profile.png" alt="Porträt von Jonas" class="hero__photo" />
  </div>

  <div class="hero__content">
    <p class="hero__greeting">Hello! I am Jonas</p>
    <h1 class="hero__title">
      <span class="hero__title-line">Frontend</span>
      <span class="hero__title-line hero__title-line--bottom">Developer</span>
    </h1>
  </div>
  <div class="hero__scroll">
  <span class="hero__scroll-label">Scroll</span>
</div>
<ul class="hero__socials">
  <li>
    <a href="https://github.com/DEIN-NAME" target="_blank" rel="noopener">
      <img src="img/icons/github-btn.svg" alt="GitHub-Profil" />
    </a>
  </li>
  <li>
    <a href="mailto:jhildebrand94@googlemail.com">
      <img src="img/icons/mail-btn.svg" alt="E-Mail schreiben" />
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/DEIN-NAME" target="_blank" rel="noopener">
      <img src="img/icons/linkedin-btn.svg" alt="LinkedIn-Profil" />
    </a>
  </li>
</ul>
  </div>
  
</section>
