@use '../abstracts' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: $header-height;
}

body {
  margin: 0;
  font-family: $font-family-base;
  overflow-x: hidden;
}
