@use 'sass:map';

$fonts: (
  'Montserrat': (
    'path': '/fonts/montserrat-v31-latin/montserrat-v31-latin',
    'weights': (400, 500, 700),
  ),
  'Baloo 2': (
    'path': '/fonts/baloo-2-v23-latin/baloo-2-v23-latin',
    'weights': (400, 500, 700, 800),
  ),
);

@each $family, $font in $fonts {
  @each $weight in map.get($font, 'weights') {
  
    $suffix: $weight;
    @if $weight == 400 {
      $suffix: 'regular';
    }

    @font-face {
      font-family: $family;
      font-style: normal;
      font-weight: $weight;
      font-display: swap;
      src: url('#{map.get($font, "path")}-#{$suffix}.woff2') format('woff2');
    }
  }
}
