<section class="privacy">
   <span class="privacy__circle privacy__circle--1" aria-hidden="true"></span>
   <span class="privacy__circle privacy__circle--2" aria-hidden="true"></span>
   <span class="privacy__circle privacy__circle--3" aria-hidden="true"></span>
  <div class="privacy__inner">
    <a routerLink="/" class="privacy__back" aria-label="Zurück zur Startseite">
      <img src="img/icons/arrow-back.svg" alt="" class="privacy__back-icon" />
    </a>

    @let t = translation.t();

    <h1>{{ t.privacyTitle }}</h1>

    <h2>{{ t.privacy1Title }}</h2>
     <h3>{{ t.privacy1GeneralTitle }}</h3>
      <p>{{ t.privacy1GeneralText }}</p>
     <h3>{{ t.privacy1CollectionTitle }}</h3>
      <h4>{{ t.privacy1ResponsibleTitle }}</h4>
       <p>{{ t.privacy1ResponsibleText }}</p>
      <h4>{{ t.privacy1HowTitle }}</h4>
       <p>{{ t.privacy1HowText1 }}</p>
       <p>{{ t.privacy1HowText2 }}</p>
      <h4>{{ t.privacy1WhyTitle }}</h4>
       <p>{{ t.privacy1WhyText }}</p>
      <h4>{{ t.privacy1RightsTitle }}</h4>
       <p>{{ t.privacy1RightsText1 }}</p>
       <p>{{ t.privacy1RightsText2 }}</p>

    <h2>{{ t.privacy2Title }}</h2>
     <p>{{ t.privacy2Intro }}</p>
      <h3>{{ t.privacy2ExtTitle }}</h3>
       <p>{{ t.privacy2ExtText1 }}</p>
       <p>{{ t.privacy2ExtText2 }}</p>
       <p>{{ t.privacy2ExtText3 }}</p>
       <p>{{ t.privacy2ExtUse }}</p>
       <p>
        netcup GmbH<br />
        Emmy-Noether-Straße 10<br />
        D-76131 Karlsruhe
       </p>
       <h4>{{ t.privacy2AvvTitle }}</h4>
        <p>{{ t.privacy2AvvText }}</p>

    <h2>{{ t.privacy3Title }}</h2>
     <h3>{{ t.privacy3DpTitle }}</h3>
      <p>{{ t.privacy3DpText1 }}</p>
      <p>{{ t.privacy3DpText2 }}</p>
      <p>{{ t.privacy3DpText3 }}</p>
     <h3>{{ t.privacy3RespTitle }}</h3>
      <p>{{ t.privacy3RespIntro }}</p>
      <p>
        Jonas Hildebrand<br />
        Gothaer Straße 224<br />
        99869 Sonneborn
      </p>
      <p>
        {{ t.privacy3RespPhoneLabel }}: +4915129534146<br />
        {{ t.privacy3RespEmailLabel }}: jhildebrand94@googlemail.com
      </p>
      <p>{{ t.privacy3RespText }}</p>
     <h3>{{ t.privacy3StorageTitle }}</h3>
      <p>{{ t.privacy3StorageText }}</p>
     <h3>{{ t.privacy3LegalBasisTitle }}</h3>
      <p>{{ t.privacy3LegalBasisText }}</p>
     <h3>{{ t.privacy3RecipientsTitle }}</h3>
      <p>{{ t.privacy3RecipientsText }}</p>
     <h3>{{ t.privacy3RevocationTitle }}</h3>
      <p>{{ t.privacy3RevocationText }}</p>
     <h3>{{ t.privacy3ObjectionTitle }}</h3>
      <p>{{ t.privacy3ObjectionText1 }}</p>
      <p>{{ t.privacy3ObjectionText2 }}</p>
     <h3>{{ t.privacy3ComplaintTitle }}</h3>
      <p>{{ t.privacy3ComplaintText }}</p>
     <h3>{{ t.privacy3PortabilityTitle }}</h3>
      <p>{{ t.privacy3PortabilityText }}</p>
     <h3>{{ t.privacy3InfoTitle }}</h3>
      <p>{{ t.privacy3InfoText }}</p>
     <h3>{{ t.privacy3RestrictionTitle }}</h3>
      <p>{{ t.privacy3RestrictionIntro }}</p>
       <ul>
         <li>{{ t.privacy3RestrictionItem1 }}</li>
         <li>{{ t.privacy3RestrictionItem2 }}</li>
         <li>{{ t.privacy3RestrictionItem3 }}</li>
         <li>{{ t.privacy3RestrictionItem4 }}</li>
       </ul>
      <p>{{ t.privacy3RestrictionText }}</p>
     <h3>{{ t.privacy3SslTitle }}</h3>
      <p>{{ t.privacy3SslText1 }}</p>
      <p>{{ t.privacy3SslText2 }}</p>

    <h2>{{ t.privacy4Title }}</h2>
     <h3>{{ t.privacy4LogTitle }}</h3>
      <p>{{ t.privacy4LogIntro }}</p>
       <ul>
         <li>{{ t.privacy4LogItem1 }}</li>
         <li>{{ t.privacy4LogItem2 }}</li>
         <li>{{ t.privacy4LogItem3 }}</li>
         <li>{{ t.privacy4LogItem4 }}</li>
         <li>{{ t.privacy4LogItem5 }}</li>
         <li>{{ t.privacy4LogItem6 }}</li>
       </ul>
      <p>{{ t.privacy4LogText1 }}</p>
      <p>{{ t.privacy4LogText2 }}</p>
     <h3>{{ t.privacy4FormTitle }}</h3>
      <p>{{ t.privacy4FormText1 }}</p>
      <p>{{ t.privacy4FormText2 }}</p>
      <p>{{ t.privacy4FormText3 }}</p>
     <h3>{{ t.privacy4MailTitle }}</h3>
      <p>{{ t.privacy4MailText1 }}</p>
      <p>{{ t.privacy4MailText2 }}</p>
      <p>{{ t.privacy4MailText3 }}</p>

    <h2>{{ t.privacy5Title }}</h2>
     <h3>{{ t.privacy5FontsTitle }}</h3>
      <p>{{ t.privacy5FontsText1 }}</p>
      <p>
        {{ t.privacy5FontsInfoBefore }}
        <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer"
          >https://developers.google.com/fonts/faq</a
        >
        {{ t.privacy5FontsInfoMiddle }}
        <a [href]="t.privacy5GoogleUrl" target="_blank" rel="noopener noreferrer">{{
          t.privacy5GoogleUrl
        }}</a>.
      </p>
      <p>{{ t.privacy5SourceLabel }} <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>
  </div>
</section>
