
$font-family-base: 'Montserrat', sans-serif;
$font-family-heading: 'Baloo 2', $font-family-base;

$color-bg: #ffffff;
$color-blk: black;
$color-blue: #5988ff;
$color-blue-dark: #0043f0;
$color-nav: $color-blue;
$color-nav-hover: $color-blue-dark;
$color-bg-shade: #eaf0ff;
$btn-bg: transparent;
$color-error: #d92d20;
$gradient-blue: linear-gradient(115deg, $color-blue 55%, $color-blue-dark 100%);
$gradient-bg: linear-gradient(115deg, $color-bg 55%, $color-bg-shade 100%);


$content-max-width: 1440px;
$content-padding-x: 32px;
$btn-padding: 16px 16px;
$border-width: 2px solid;
$radius: 8px;

$spacing: (
  'xxs': 4px,
  'xs': 8px,
  's': 16px,
  'm': 24px,
  'l': 32px,
  'xl': 48px,
  'xxl': 64px,
  'xxxl': 128px,
  'xxxxl': 300px
);

$transition-fast: 125ms ease-in-out;
