@use '../../../scss/abstracts' as *;

.skills {
  background: $gradient-blue;

  &__inner {
    @include container;
    padding-block: space('xxl');           
  }

  &__title {
    @include font-size(rem(80px), rem(56px), rem(40px));
    text-align: center;
    color: $color-bg; 
    margin-top: space('xs');                  
    margin-bottom: space('xxl');
  }

  &__grid {
    @include list-reset;          
    @include flex($justify: center, $gap: space('l'));
    flex-wrap: wrap;               
  }    
  
  &__item {
  @include flex-column($align: center, $gap: space('s'));
  flex: 0 0 calc((100% - 5 * #{space('l')}) / 6);
   min-width: 0;         

  @include respond('tablet') {
    flex: 0 0 calc((100% - 3 * #{space('l')}) / 4);         
  }
   @include respond('mobile') {
    flex: 0 0 calc((100% - 2 * #{space('xl')}) / 3);         
  }
}

  &__icon {
  width: 100%;            
  max-width: rem(80px);   
  height: auto;           
  aspect-ratio: 1;        
  object-fit: contain;    
  display: block;
  @include hover-lift(0.5);
}

  &__name {
    color: $color-bg;
    @include font-size(rem(16px));
  }
}
