@use '../../../scss/abstracts' as *;

.skills {
  background: $gradient-blue;

  &__inner {
    @include container;
    padding-block: space('xxl');           
  }

  &__title {
    @include font-size(rem(80px), rem(56px), rem(40px));
    text-align: center;
    color: $color-bg; 
    margin-top: space('xs');                  
    margin-bottom: space('xxl');
  }

  &__grid {
    @include list-reset;          
    @include flex($justify: center, $gap: space('l'));
    flex-wrap: wrap;               
  }    
  
  &__item {
  @include flex-column($align: center, $gap: space('s'));
  flex: 0 0 calc((100% - 5 * #{space('l')}) / 6);         

  @include respond('tablet') {
    flex: 0 0 calc((100% - 3 * #{space('l')}) / 4);         
  }
   @include respond('mobile') {
    flex: 0 0 calc((100% - 1 * #{space('l')}) / 2);         
  }
}

  &__icon {
    height: rem(80px);       
    width: auto;             
    display: block;
    transition: $transition-fast;
    &:hover {
      transform: translateY(-6px) scale(1.1);
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
    }  
  }

  &__name {
    color: $color-bg;
    @include font-size(rem(16px));
  }
}
